/* CSS declarations go here */
button {
  background: #3644AB;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 20px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px 0 10px 0;
  color: white;
  font-size: 1.5rem;
}

input, input[type="password"], input[type="search"] {
  font-size: 2rem;
  display: inline;
  width: 60%;
  margin: 0;
  padding: 0;
}

button:hover {
  background: #071156;
}

li:first-child button {
  color: white;
}

li:first-child {
  color: #DA3D3D;
  font-size: 2.5rem;

}

li span {
  margin-right: 10px;
}

li:first-child span {
  font-weight: bold;
  text-shadow: 1px 1px 4px #AAA;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  font-family: 'Lobster', cursive;
}

body {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

main {
  margin: 0 30% 0 30%;
  padding: 10px 5% 0 5%;
}
ol {
  padding: 0;
}

.hero {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background-image: url('long-zig.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Lobster', cursive;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 5rem;
  position: relative;
}

/*.hero {
  background: radial-gradient(
      rgba(#008fac, 0.40),
      rgba(#008FAC, 1)
    ), url('../images/bg.jpg') no-repeat;
  background-size: cover;
}*/

.logo {
  position: absolute;
  top: 100px;
  left: 35%;
  color: #DA3D3D;
}
